#mobile-nav-bar{
  width: 100vw;
  height: 30px;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link-mobile {
  padding: 0px 15px;
  font-size: 12px;
  display: table-cell;
  vertical-align: middle;
}

.nav-link-mobile.active {
  color: black;
}

#name-heading-mobile {
  padding-left: 15px;
  font-size: 15px;
  height: 20px;
}